<footer class="bg-dark text-white py-4">
    <div class="container text-center">
        <div class="d-flex flex-column align-items-center mb-4">
            <div class="footer-socials">
                <a href="https://facebook.com" target="_blank" class="fs-4 text-white mx-2 text-decoration-none transition-all hover:text-info hover:scale-110">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://instagram.com" target="_blank" class="fs-4 text-white mx-2 text-decoration-none transition-all hover:text-info hover:scale-110">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://linkedin.com" target="_blank" class="fs-4 text-white mx-2 text-decoration-none transition-all hover:text-info hover:scale-110">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </div>

            <div class="footer-brand">
                <p>&copy; 2025 FortStay. All rights reserved.</p>
            </div>

            <div class="footer-links mb-4">
                <a href="/privacy/" class="text-white text-decoration-none fs-6 mx-3 transition-all hover:text-info">Privacy Policy</a>
                <a href="/terms/" class="text-white text-decoration-none fs-6 mx-3 transition-all hover:text-info">Terms of Service</a>
                <a href="/contact/" class="text-white text-decoration-none fs-6 mx-3 transition-all hover:text-info">Contact Us</a>
                <a href="/faq/" class="text-white text-decoration-none fs-6 mx-3 transition-all hover:text-info">FAQ</a>
            </div>

            <div class="footer-newsletter">
                <h5>Subscribe to our Newsletter</h5>
                <form class="d-flex justify-content-center">
                    <input type="email" placeholder="Enter your email" class="p-2 border-0 rounded-3 w-50" required>
                    <button type="submit" class="btn btn-info text-white ms-2 rounded-3 hover:bg-teal-600">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</footer>
